.login{
    min-height: 100vh;
    background: url('/Desktop.png') no-repeat;
    background-size: cover;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
}
